.number1 {
    background: url("../dice-game-starter-pack-master/dice-1.png") center center/cover no-repeat;

  }
  .number2 {
    background: url("../dice-game-starter-pack-master/dice-2.png")center center/cover no-repeat;

  }
  .number3 {
    background: url("../dice-game-starter-pack-master/dice-3.png")center center/cover no-repeat;
   
  }
  .number4 {
    background: url("../dice-game-starter-pack-master/dice-4.png")center center/cover no-repeat;
   
  }
  .number5 {
    background: url("../dice-game-starter-pack-master/dice-5.png")center center/cover no-repeat;
  
  }
  .number6 {
    background: url("../dice-game-starter-pack-master/dice-6.png")center center/cover no-repeat;
  
}
  #diceNum1,
  #diceNum2 {
    width: 200px;
    height: 200px;
    border: 3px solid red;
  }